@{
    ViewBag.Title = "Customers Hub - Home Page";
}

<div class="jumbotron">
    <h1>Welcome in Customers Hub</h1>
    <p class="lead">This application will help you manage all your clients. To move forward to your clients click button below or use navigation link.</p>
    @Html.ActionLink("Go to Customers", "Index", "Customer", "", new { @class = "btn btn-success" })
</div>